/*------------------------------------- user_block end    -------------------*/
.user_block{float: left;padding: 0px 0 24px 0;    }
.user_block .user_block-view{}
.user_block .user_block-view a{    float: left;    text-decoration: none;}
.user_block .user_block-view a.user-photo{  display: block;  overflow: hidden;    width: 50px;    height: 50px;    -moz-border-radius: 50%;    -webkit-border-radius: 50%;    -khtml-border-radius: 50%;    border-radius: 50%;    }
.user_block .user_block-view .user-photo img{max-width: 100%; max-height: 100%;}
.user_block .user_block-view .user-name{    line-height: 50px;    padding: 0 0 0 10px;}
.user_block .user_block-view a.user-name:hover, .user_block:hover .user_block-view a.user-name{color: #88c35b;}
.user_block .user_block-view a:after{font-family: FontAwesome;content: "\f0d7";display: none;}
.user_block .dropdown-content{top: 50px;}
.user_block ul{    padding: 5px 15px;}
.user_block ul:hover{z-index: 10;}
.user_block ul li{}
.user_block ul li a{    text-decoration: none;    color: #828282;    padding: 3px 2px;    display: block;}
.user_block ul li a:hover{    color: #88c35b;}
/*------------------------------------- user_block End    -------------------*/
/*------------------------------------- pager-list   -------------------*/
.pager-list{text-align: center;}
.pager-list ul, .pagination, .pager{margin: 0.5rem 0;list-style: none;padding: 0;text-align: center;display: inline-block;}
.pager-list ul li, .pagination li, .pager li{    float: left;}
.pager-list ul li a, .pagination li a, .pager li a{color: #6c757d;background-color: #fff;border: 1px solid #dee2e6;display: block;padding: .5rem .75rem;text-decoration: none;margin-left: -1px;}
.pager-list ul li a:hover, .pagination li a:hover, .pager li a:hover{color: #0056b3;text-decoration: none;background-color: #e9ecef;border-color: #dee2e6; padding: .5rem .75rem;}
.pager-list ul li.pager-current, .pagination li.pager-current, .pager li.pager-current, .pager-list ul li.active, .pagination li.active, .pager li.active{z-index: 1;color: #fff;padding: .5rem .75rem;background-color: #007bff;border: 1px solid #007bff;}
.pager-list ul li:first-child a, .pagination li:first-child a, .pager li:first-child a{    margin-left: 0;    border-top-left-radius: .25rem;    border-bottom-left-radius: .25rem;}
.pager-list ul li:last-child a, .pagination li:last-child a, .pager li:last-child a{    margin-right: 0;     border-top-right-radius: .25rem;border-bottom-right-radius: .25rem;}
/*------------------------------------- pager-list End    -------------------*/
.socials{}
.socials a{background: #48ac3c;    width: 38px;    height: 38px;    text-align: center;    color: #ececec;    font-size: 17px;    margin: 0 0 0 15px;    display: inline-block;}
.socials a i{    line-height: 38px;}
.socials a:hover{    background: #ed7d02;}
.s_instagram{}
.s_youtube{}
.s_vk{}
.s_facebook{}
/**********************/
/*------------------------------------- footer conteiner   -------------------*/
.footer-top{}
/**************************/
.footer-content{}
.footer-about{}
.footer-about .text{}
.footer-about p{margin: 0;}
.footer-about p a{}
.footer-about p strong{}
.footer-about p span{}
.footer-block{}
.footer-block .footer-block-name{}
.footer-block .footer-block-name p{margin: 0; font-size: 1.2em;}
.footer-block-content{}
.footer-block-content > div{}
.footer-block-content p{margin: 0;}
.footer-block-content > p a{}
.footer-block-content p{}
/**************************/
.footer-bottom{}
.footer-bottom p{margin: 0;}
.footer-bottom p span{}
/*------------------------------------- footer conteiner End  -------------------*/



/**********************************************/
.modall{display: none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 1000000;}
.modall_fon{position: fixed;  top: 0;  left: 0;  width: 100%;  height: 100%;background: #000;opacity: 0.7;}
.modall-block{top: 10vh;margin: 0 auto;position: relative;z-index: 2;-webkit-transition: all 0.5s ease;    -moz-transition: all 0.5s ease;    -o-transition: all 0.5s ease;    transition: all 0.5s ease;}
.modall-content{background: #fff; }
.modall-head{text-align: center;    padding: 15px;    border-bottom: 1px solid #f5f5f5;}
.modal-name{}
.modal-name p{    margin: 0;    font-size: 1.2em;}
.modal-description{}
.modal-description p{    margin: 0;}
.modall-body{ overflow: auto;}
.modall-body p{}
.modall .modall-close{background: url(../images/close-dark.svg) no-repeat center center; width: 36px;height: 36px;cursor: pointer;background-size: 60%;background-color: #b5b5b5;position: absolute;top: 0px;right: 0px;margin: 0;}
.modall .modall-close:hover{text-decoration: none;}
/*****/
.modall-text{}
.modall-text .modall-block{width: 80vw;max-height: 80vh;max-width: 1000px;}
.modall-text .modall-head{}
.modall-text .modall-body{padding: 0 4%; height: 70vh;}
.modall-text .modall-body p{}
/*****/
.modall-form{}
.modall-form .modall-block{width: 90%;max-height: 80vh;max-width: 400px;}
.modall-form .modall-head{padding: 15px 15px;}
.modall-form .modall-body{padding: 15px;}
.modall-form .modall-body p{}
.modall-form .modall-body .form-box{background: none;}
@media screen and (max-width: 737px) { .div{}/* Small devices smartphone iphone6/7/8+, 736px and down) */
.modall-head{ padding: 7px;}
.modall-form{    overflow: auto;     position: absolute;}
.modall-text .modall-block{width: 90vw;max-height: 90vh; top: 6vh;}
.modall-text .modall-body{padding: 0 4%; height: 70vh;}
}
@media screen and (max-width: 480px) { .div{}/* Small devices smartphone iphone6/7/8+, 736px and down) */
.modall-text .modall-block{    top: 5vh;}
.modall-text .modal-description{display: none;}
.modall-text .modall-body{padding: 0 4%; height: 80vh;}
}
/**********************************************/