@media only screen and (max-width: 767px ) {.div{}  /* Small devices smartphone, 0 to 767px) */

}
@media only screen and (max-width: 567px ) {.div{}  /* Small devices smartphone-vertical, 0 to 567px) */

}
/*--------------------------------------------------------------------------------- site      -------------------*/
@media only screen and (min-width: 320px ) {.div{}  /* Small devices smartphone iphone5, 320px and up) */

}

@media screen and (min-width: 375px) { .div{}/* Small devices smartphone iphone6(7,8,9,10)), 375px and up) */

}

@media screen and (min-width: 414px) { .div{}/* Small devices smartphone iphone6+(7+,8+,9+,10+)), 414px and up) */

}

@media (min-width: 568px) and (max-width: 736px ) {.div{}  /* Small devices smartphone, 320px and up) */

}

@media screen and (min-width: 568px) { .div{}/* Small devices smartphone, 568px and up) */

}

@media screen and (min-width: 667px) { .div{}/* Small devices smartphone iphone6, 667px and up) */
    .l_web_links{position: absolute;    position: absolute;right: -90px;top: -14px;}
}

@media (min-width: 768px) and (max-width: 1024px ) {.div{}  
    
}
@media screen and (min-width: 768px) { .div{}/* Small devices (tablets, 768px and up) */
.l_web_links{position: absolute;    position: absolute;right: -130px;top: -14px;}
}

@media (min-width: 992px) and (max-width: 1024px ) {.div{}  

}

@media only screen and (min-width: 992px ) {.div{}   /* Medium devices (desktops, 992px and up) */
    .l_web_links{position: absolute;right: -150px;top: -11px;}
}

@media only screen and (min-width: 1100px ) {.div{}   /* Standart desktops (desktops, 1100px and down) */
.l_web_links{position: absolute;right: -170px;top: -11px;}
}

@media only screen and (min-width: 1201px ) {.div{}   /* large desktops (desktops, 1200px and down) */
  .l_web_links{    position: absolute;    right: -200px;    top: -11px;  }
}
@media only screen and (min-width: 1501px ) {.div{}   /* large desktops (desktops, 1200px and down) */
  .l_web_links{    position: absolute;    right: -250px;    top: -11px;  }
} 









/* Large desktops and laptops */
@media (min-width: 1200px) {.div{}  
   
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {.div{}    
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {.div{} 
}

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {.div{} 
}

@media only screen and (max-width: 1501px ) {.div{}   /* large desktops (desktops, 1200px and down) */
}
@media only screen and (max-width: 1201px ) {.div{}   /* large desktops (desktops, 1200px and down) */
}
@media only screen and (max-width: 1101px ) {.div{}   /* Standart desktops (desktops, 1100px and down) */
}
@media only screen and (max-width: 993px ) {.div{}   /* Medium devices (desktops, 992px and down) */
}
@media screen and (max-width: 769px) { .div{}/* Small devices (tablets, 768px and down) */
}
@media screen and (max-width: 737px) { .div{}/* Small devices smartphone iphone6/7/8+, 736px and down) */
}
@media screen and (max-width: 668px) { .div{}/* Small devices smartphone iphone6/7/8, 667px and down) */
}
@media screen and (max-width: 569px) { .div{}/* Small devices smartphone iphone5, 568px and down) */
}
@media screen and (max-width: 481px) { .div{}/* Small devices smartphone vertical, 480px and down) */
}
@media screen and (max-width: 415px) { .div{}/* Small devices smartphone vertical iphone6/7/8+, 414px and down) */
}
@media screen and (max-width: 376px) { .div{}/* Small devices smartphone vertical iphone6/7/8, 375px and down) */
}
@media only screen and (max-width: 321px ) {.div{}  /* Small devices smartphone, 320px and down) */
}