/*------------------------------------- typical elements    -------------------*/
/**********************/
.phone-line{    padding: 6px 0 5px;}
.phone-line a{text-decoration: none;color: #000;font-size: 1.5em;margin: 0 0 7px;position: relative;padding-left: 22px;}
.phone-line a span{padding-left: 3px;}
.phone-line a:hover{}
.phone-line a:before{font-family: FontAwesome;content: "\f095";color: #0b826d;position: absolute;left: 0;}
.phone-line_whatsApp{}
.phone-line_whatsApp a:before{content: "";background: url(../images/whatsapp.png) no-repeat left center;background-size: contain;/* float: left; */width: 23px;height: 21px;display: inline-block;top: 1px;}
/**********************/
.email-line{padding: 2px 0;}
.email-line a{text-decoration: none;color: #000;}
.email-line a span{padding-left: 3px;}
.email-line a:hover{}
.email-line a:before{font-family: FontAwesome;content: "\f003";}
/**********************/
.adress-line{padding: 2px 0;}
.adress-line > span{text-decoration: none;}
.adress-line span span{padding-left: 3px;}
.adress-line > span:hover{cursor: pointer;}
.adress-line > span:before{font-family: FontAwesome;content: "\f041";font-size: 16px;}
/**********************/
.logo{
    padding: 20px 0 3px;
}
.logo a{}
.logo img{height: 80px;}
.logo p{
    font-family: 'Arsenal', sans-serif;
    font-size: 2.5em;
    line-height: 1em;
    margin: 0;
}
.adress-line > span:before{font-family: FontAwesome;content: "\f041";font-size: 16px;}
/**********************/

/*------------------------------------- typical elements  End  -------------------*/

/*------------------------------------- buttons    -------------------*/
.btn-wrapper{padding: 15px 0;}
.btn, a.btn{
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2em;
    line-height: 2;
    max-width: 100%;
    margin: 0px;
    padding: 0 30px;
    background: #0b826d;
    display: inline-block;
    cursor: pointer;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 30px;
    border: 6px solid #eceaea;
}
.btn span, a.btn span{}
.btn:hover, a.btn:hover{       background: #f51914;}
.btn:active, a.btn:active{background: #1672b5;}
.btn-big, a.btn-big{font-size: 1.5em; padding: 0 30px;    }
.btn-big span, a.btn-big span{}
.btn-big:hover, a.btn-big:hover{}
.btn-big:active, a.btn-big:active{}
.btn-small, a.btn-small{font-size: 0.8em;}
.btn-small span, a.btn-small span{}
.btn-small:hover, a.btn-small:hover{}
.btn-small:active, a.btn-small:active{}
/*------------------------------------- buttons end    -------------------*/

/*------------------------------------- dropdown    -------------------*/
.dropdown{position: relative; z-index: 2; padding-bottom: 0.5em !important;}
.dropdown-content{
    border: 1px solid transparent;
    background: #fff;
    top: 1.5em;
    position: absolute;
    min-width: 100%;
    left: 0;
    height: 0; overflow: hidden;
    opacity: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.dropdown:hover .dropdown-content{display: block; overflow: visible; height: auto;   opacity: 1; border: 1px solid #b3b3b3;}
.dropdown:hover .dropdown-content:before{content: "";position: absolute;top: -6px;left: 50%; margin-left:-3px;width: 8px;height: 8px;background: #fff;border-left: 1px solid #b3b3b3;border-top: 1px solid #b3b3b3;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
.dropdown-content ul{list-style: none; margin: 0;}
.dropdown-content > *{padding: 5px 10px;}
/*------------------------------------- dropdown end    -------------------*/
/**********************/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #3b7cc0;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {    background: #890170;}
#back-to-top.show {    opacity: 1;}
/**********************/
/*------------------------------------- efect    -------------------*/
.gradient {
    background: -webkit-linear-gradient(top, #5abbff, #0c649c);
    background: -moz-linear-gradient(top, #5abbff, #0c649c);
    background: -o-linear-gradient(top, #5abbff, #0c649c);
    background: -ms-linear-gradient(top, #5abbff, #0c649c);
}
.btn.gradient:hover{
    background: -webkit-linear-gradient(top, #00bff3, #0072bc); /* Safari, Chrome */
    background: -moz-linear-gradient(top, #00bff3, #0072bc);  /* Firefox */
    background: -o-linear-gradient(top, #00bff3, #0072bc);  /* Opera */
    background: -ms-linear-gradient(top, #00bff3, #0072bc);  /* IE10 */
}
.btn.gradient:active{
    background: -webkit-linear-gradient(top, #74add6, #135986);
    background: -moz-linear-gradient(top, #74add6, #135986);
    background: -o-linear-gradient(top, #74add6, #135986);
    background: -ms-linear-gradient(top, #74add6, #135986);
}
.shadow{
    -webkit-box-shadow: 0px 0px 15px #222;
    -moz-box-shadow: 0px 0px 15px #222;
    box-shadow: 0px 0px 15px #222;
}
.shadow-in{
    -webkit-box-shadow: inset 0px 0px 15px 10px #222;
    -moz-box-shadow: inset 0px 0px 15px 10px #222;
    box-shadow: inset 0px 0px 15px 10px #222;
}
.b-radius1{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px; 
    border-radius: 5px; 
}
.rotate{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);  
    transform: rotate(-45deg);
}
/*------------------------------------- efect end    -------------------*/

.object-item{    border: 1px solid #efefef;    padding: 5px 1%;}
.object-item-img{}
.object-item-img-wrapp{    display: inline-block;}
.object-item-img-wrapp span{    display: table-cell;    height: 200px;    vertical-align: middle;}
.object-item-img-wrapp img{    max-width: 100%;    max-height: 100%;}
.object-item-text{}
.object-item-text h3{        height: 1em;    overflow: hidden;}
.object-item-text h3 a{    text-decoration: none;}
.object-item-text h3 a:hover{}
.object-item-description{    height: 5em;    overflow: hidden;    margin: 4px 0;}
.object-item-description p{    margin: 0;    line-height: 1.2;}
.object-item-actions{    margin: 4px 0;}
/**********************/

