.form-box{padding: 15px;background: #ebebeb;}
.form-box-before{    padding: 10px 0;}
.form-box-before p{}
.form-box-before p strong{}
.form-box-before p span{}
.form-box-after p{}
.form-box-after p strong{}
.form-box-after p > span{    font-size: 0.8em;}
.form-box-after p > span span{}
.form-box-content{position: relative;}
.form-box-content > p{}
/*********/
.results{display: none;}
.results p{}
.results p strong{}
/*********/
form{padding: 0px;}
form .field-name{padding: 0px 0 0px;display: block;}
form label{padding: 0px 0 0px;display: block;}
textarea, input{outline: none;margin: 0;}
textarea{resize: none;}
input:focus, textarea:focus, input:active, textarea:active, select{outline: medium none;}
.form-group{}
.form-item{position: relative;padding: 15px 0; clear: both;}
.form-group .form-item{width: 50%; clear: none;}
.form-group .form-item:first-child{float: left;    padding-right: 7px;}
.form-group .form-item:last-child{float: right;    padding-left: 7px;}
.form-item-radio, .form-item-checkbox{padding: 10px 0;}
.form-item-radio label, .form-item-checkbox  label{padding: 5px 0;}
.form-ection{position: relative;padding: 15px 0;text-align: center;}
.field-name{font-size: 1em;}

/*********/
form .form-item input{}
form input[type=text], form input[type=password], form input[type=tel], form input[type=email], form textarea, select{    width: 100%;    padding: 10px 15px;    background: #fff;    border: 1px solid #8e8e8e;    color: #464646;    font-size: 16px;    font-family: Arial, Helvetica, Sans-Serif;}
form input[type=text], form input[type=password], form input[type=tel], form input[type=email]{}
form input[type=checkbox]{}
form  input[type=radio]{}
form textarea{    height: 80px;}
form select{}
form select option{}
form input.mandatory{}
form input.error{border: 1px solid #f00;}
.modall-form form input[type=text], .modall-form form input[type=password], .modall-form form input[type=tel], .modall-form form input[type=email], .modall-form form textarea, .modall-form select{}
/*********/
form .form-ection input[type=submit]{border: none;width: 100%;display: inline-block;margin: 0;cursor: pointer;padding: 10px 15px;max-width: 300px;}
.modall-form form .form-ection input[type=submit]{}
form .form-ection input[type=submit]:hover{}
.modall-form form .form-ection input[type=submit]:hover{}
form .form-ection input[type=submit]:active{}
.modall-form form .form-ection input[type=submit]:active{}
/*********/
.updateProgress_wrapp{position: absolute; width: 100%; left: 0; padding: 0px 0 0 0; top: 0; display: none; height: 100%;    z-index: 10000;}
.updateProgress{background: url("../images/updateProgress.gif") no-repeat center center #fff;width: 60px; height: 60px;background-size: 100%;border-radius: 100px; margin: 30px auto;   z-index: 1000;  left: 0;}
/*********/
.form_error_block{display: none;background: #eee;position: absolute;border: 1px solid #ddd;z-index: 5;top: 43px;left: 15px;-moz-border-radius: 2px; /* Firefox */-webkit-border-radius: 2px; /* Safari, Chrome */-khtml-border-radius: 2px; /* KHTML */border-radius: 2px; /* CSS3 */}
.form_error_block p{font-size: 14px;line-height: 16px;background: url(../images/info.png) no-repeat 7px 5px #eee;margin: 0;padding: 5px 25px 5px 33px;position: relative;z-index: 2;}
.form_error_block div{background: #eee;position: absolute;width: 12px;height: 12px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);top: -6px;left: 10px;border: 1px solid #ddd;}

@media only screen and (max-width: 736px ) {.div{}  /* Small devices smartphone, 320px ) */
    .form-item{padding-top: 7px; padding-bottom: 7px;}
    .col-sm-2 .form-group .form-item{width: 100%; clear: none; float: none;   padding-left: 0; padding-right: 0;}
    .form-ection{padding: 7px 0;}
    
}
@media only screen and (max-width: 414px ) {.div{}  /* Small devices smartphone, 320px) */
    .form-item{padding: 10px 0;}
    .form-group .form-item{width: 100%; clear: none;padding-left: 0; padding-right: 0; }
    .form-group .form-item:first-child, .form-group .form-item:last-child{float: none;    padding: 7px 0;}

}