#nav-full{background: #e0e0e0;}
#nav-full.fixed{width: 100%; top: 0;}
.main-menu-holder{}
.main-menu{-webkit-transition: all 0.3s ease;    -moz-transition: all 0.3s ease;    -o-transition: all 0.3s ease;    transition: all 0.3s ease;}
/*------------------------------------- nav   -------------------*/
nav{}
nav ul{    margin: 0;    padding: 0;    list-style: none;    text-align: center;}
nav ul li{display: inline-block;position: relative;}
nav ul li.first{}
nav ul li.last{}
nav ul li.active{}
nav ul li a{position: relative;display: block;padding: 12px 15px;color: #fff;font-size: 1.3em;text-decoration: none;}
nav ul li a img{height: 21px;float: right;margin: 4px 0px 0 9px;}
nav ul li a.first{}
nav ul li a.last{}
nav ul li a.active{}
nav ul li a:hover{text-decoration: underline;}
nav ul li:hover a{text-decoration: underline;}
nav ul li ul{position: absolute;    background: #e0e0e0;    display: none;}
nav ul li:hover ul{display: block;}
nav ul li ul li{}
nav ul li ul li.first{}
nav ul li ul li.last{}
nav ul li ul li.active{}
nav ul li ul li a, nav ul li:hover ul li a{padding: 2px 5px; text-decoration: none;}
nav ul li ul li a.first{}
nav ul li ul li a.last{}
nav ul li ul li a.active{}
nav ul li ul li a:hover{text-decoration: underline;}
nav ul li ul li:hover a{}
nav ul li:hover ul li:hover a{}
/*------------------------------------- nav  End  -------------------*/
/*------------------------------------- footer-nav  -------------------*/
.footer-nav nav{}
.footer-nav nav ul{}
.footer-nav nav ul li{}
.footer-nav nav ul li a{}
.footer-nav nav ul li a:hover{}
.footer-nav nav ul li a:active{}
/*------------------------------------- nav  End  -------------------*/
/*------------------------------------- user_nav  -------------------*/
.user_nav{}
.user_nav ul{margin: 0; padding: 0; list-style: none;}
.user_nav ul li{display: inline-block;}
.user_nav ul li a{}
.user_nav ul li a:hover{}
/*------------------------------------- user_nav  End  -------------------*/
/*------------------------------------- main-menu-columns   -------------------*/
.menu-columns{}
.menu-columns ul{overflow: hidden;}
.menu-columns ul li{    float: left;width: 33.3%;}
/*------------------------------------- main-menu-columns  End  -------------------*/
nav ul li.animate:before {    position: absolute;    content: "";    height: 40px;    background-color: #3488ea;    right: 0;    width: 0%;    bottom: 0;    -webkit-transition: all 0.4s ease;    -moz-transition: all 0.4s ease;    -o-transition: all 0.4s ease;    transition: all 0.4s ease;}
nav ul li.animate:hover:before {    position: absolute;    content: "";    width: 100%;    left: 0;}

@media only screen and (max-width: 768px ) {.div{}  /* Small devices smartphone tablet_small, 0 to 768px) */
.header {padding-top: 34px;}

/********************************  main-menu smartphone tablet_small  ***************************************/  
.main-menu-holder{width: 40px;z-index: 15;height: 34px;outline: none;margin: -3px 0 0;}
.main-menu{overflow: hidden;background: #0b826d;top: 44px;left: 0;height: 0;clear: both;position: fixed;width: 100%;}
.main-menu nav{}
.main-menu nav ul{
    border-bottom: 2px solid #e61025;
    padding: 15px 0;
}
.main-menu nav ul li{    display: block;}
.main-menu nav ul li a{}
.main-menu nav ul li a span{}
.nav-toggle{width: 40px;height: 100%;cursor: pointer;z-index: 3;outline: none;float: right;position: relative;}
.nav-toggle *{    -webkit-transition: all 0.5s ease;    -moz-transition: all 0.5s ease;    -o-transition: all 0.5s ease;    transition: all 0.5s ease;}
.nav-toggle .open {opacity: 1;margin: 0px 0 0;padding: 7px 0px;top: 0%;right: 7px;width: 26px;height: 34px;position: absolute;}
.active .nav-toggle .open{opacity: 0;}
.nav-toggle .open .lines {    position: relative;    width: 26px;    height: 20px;}
.nav-toggle .open .line {display: block;position: absolute;left: 0;width: 100%;height: 2px;background: #ffffff;}
.nav-toggle .open .line:nth-child(1) {top: 0;}
.nav-toggle .open .line:nth-child(2) {margin-top: -1px;top: 50%;}
.nav-toggle .open .line:nth-child(3) {bottom: 0;}
.nav-toggle .close {opacity: 0;margin: 0px 0 0;position: absolute;top: 0%;right: 7px;width: 27px;height: 34px;padding: 4px 0px;}
.active .nav-toggle .close{opacity: 1;}
.nav-toggle .close .lines {    position: relative;    width: 26px;    height: 26px;    -moz-transform: rotate(45deg);    -ms-transform: rotate(45deg);    -webkit-transform: rotate(45deg);    transform: rotate(45deg);}
.nav-toggle .close .line {display: block;position: absolute;background: #ffffff;}
.nav-toggle .close .line:nth-child(1) {    margin-left: -1px;    top: 0;    left: 50%;    width: 2px;    height: 100%;    }
.nav-toggle .close .line:nth-child(2) {    margin-top: -1px;    top: 50%;    left: 0;    width: 100%;    height: 2px;}
/**************************************************************************************************************/ 
}
@media only screen and (min-width: 768px ) {.div{}  /* Small devices smartphone tablet_small, 0 to 768px) */
.main-menu-holder {
    margin: -11px 0 0;
}
}
@media only screen and (min-width: 992px ) {.div{}  /* Small devices smartphone tablet_small, 0 to 768px) */
.main-menu-holder {
    margin: 0px 0 0;
}
nav ul li a {    padding: 15px 15px;}

}