body{      
  color: #000;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  line-height: 1.3;
  
}
h1, h2, h3, h4, h5, h6{font-family: 'Arsenal', sans-serif;}
h1{font-size: 3em;}
h2{}
h3{}
h4{}
h5{}
h6{}

/*------------------------------------- primary elements    -------------------*/
.top-panel{background: #dedede;padding: 0.4em 0;font-size: 0.8em;clear: both;position: fixed;top: 0;left: 0;width: 100%;z-index: 100;}
.fixed-top-line{width: 100%;background: #0b826d;z-index: 50;}
.fixed-top-line.fixed{top: 0;}
.header{background: #f2f2f2;}
/**********************/
.footer{background: #0b826d;color: #fff;margin-top: 45px;overflow: hidden;}
/*------------------------------------- section elements   -------------------*/

/*------------------------------------- section elements  End  -------------------*/

/*------------------------------------- page elements   -------------------*/
.front{
    padding-bottom: 280px;
}
.front:before{content:  '';}
.front:after{content:  '';background: url(../images/front_image.jpg) no-repeat center top;background-size: contain;top: auto;bottom: 0;height: 300px;}
.front-column{}
.front-top{}
.front-top p{}
.front-content{
    padding: 0px 0 0;
}
.front-content h1{
    font-weight: normal;
}
.front-content h1 span{
    font-size: 0.6em;
    display: block;
    color: #3c3b3b;
}
.front-content .front-description{}
.front-content .front-description p{
    font-size: 1.3em;
    margin-bottom: 0;
}
.front-content .front-description ul{}
.front-content .front-description ul li{}
.front-content .front-description ul li span{}
.front-bottom{}
.front-bottom p{}
.front-form{}
.front-form .form-box{} 
@media screen and (min-width: 992px) { .div{}/* Small devices smartphone, 568px and up) */
.front{    padding: 0;}
.front:after{    left: auto;right: 0;width: 50%;height: 90%;}
} 

/************************************************************/
.catalog{}
.catalog h2{
    background: #f2f2f2;
    padding: 10px 0;
    border-radius: 15px;
    border: 5px solid #ff1a38;
    margin: 60px 10px 30px;
    font-size: 1.4em;
}

h2 {}
.catalog .item{
    padding: 15px;
}
.catalog .item-wrapper{
    border: 1px solid #dddfe0 !important;
    border-radius: 6px !important;
    overflow: hidden;
    box-shadow: 2px 3px 8px 0 rgba(0,0,0,.04) !important;
    padding: 0 15px;
}
.catalog .item-wrapper .photo{
    height: 360px;
    margin: 15px 0;
}
.catalog .item-wrapper .photo a{
    display: block;
}
.catalog .item-wrapper .photo img{
    max-height: 100%;
}
.catalog .item-wrapper .text{
    overflow: hidden;
    padding-bottom: 30px;
}
.catalog .item-wrapper .text h3{
    text-align: center;
    font-size: 2.4em;
    font-weight: normal;
    margin: 0;
}
.catalog .item-wrapper .text .description{
    padding: 15px 0 24px;
}
.catalog .item-wrapper .text .description ul{list-style: none;margin: 0;padding: 0;}
.catalog .item-wrapper .text .description ul li{
    color: #828282;
}
.catalog .item-wrapper .text .description ul li strong{
    color: #464646;
}
.catalog .item-wrapper .text .price{
    color: #bd0017 !important;
    font-size: 2.4em;
    text-align: center;
    font-family: 'Arsenal', sans-serif;
}
.catalog .item-wrapper .text .btn-wrapper{
    padding: 0;
    text-align: center;
}
.catalog .item-wrapper .text .btn-wrapper .btn{
    font-size: 1.2em;
    padding: 0px 22px;
}

@media screen and (min-width: 568px) { .div{}/* Small devices smartphone, 568px and up) */
.catalog {
    padding: 0 15px;
}
.catalog .item-wrapper .photo {
    height: 300px;
    margin: 15px 0;
}
}
@media screen and (min-width: 568px) { .div{}/* Small devices smartphone, 568px and up) */
.catalog .item-wrapper .photo {height: 350px;}
}
@media screen and (min-width: 992px) { .div{}/* Small devices smartphone, 568px and up) */
.catalog .item-wrapper .photo {height: 350px;}
 .catalog .item {padding: 15px 0px;}
}
@media screen and (min-width: 1100px) { .div{}/* Small devices smartphone, 568px and up) */
.catalog .item-wrapper .photo {height: 420px;}
.catalog .item-wrapper .text .description ul li {
    color: #828282;
    font-size: 0.9em;
    padding: 2px 15px;
}
}

/************************************************************/
.chiper{padding: 45px 0;}
.chiper h2{font-size: 2.5em;font-weight: normal;margin: 0 0 15px;line-height: 1;}
.chiper ul{list-style: none;margin: 0;padding: 0 7px;}
.chiper ul li{padding-left: 15px;position: relative;padding: 4px 0 4px 17px;font-size: 1.1em;}
.chiper ul li:before{font-family: FontAwesome;content: "\f058";color: #0b826d;position: absolute;left: 0;}
.chiper ul li span{}
.chiper .photo-list{}
.chiper .photo-list .item{float: left;width: 50%;padding: 7px;}
.chiper .photo-list .item img{}

@media screen and (min-width: 992px) { .div{}
    .chiper ul li {    padding: 15px 0 15px 32px;    font-size: 1.3em;}
    .chiper h2 {font-size: 3em;        margin: 0 0 30px;}
}

/************************************************************/
.delivery_section{}
.delivery{
    margin: 0 0 30px;
}
.delivery h2{
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 15px;
    line-height: 1;
}
.delivery_p{    background: #f2f2f2;
    padding: 10px 0;
    border-radius: 15px;
    border: 5px solid #eae7e7;
    margin: 20px 0px 27px;
    font-size: 1.2em;}
.delivery h3{
    font-weight: normal; font-size: 1.1em;
}
.delivery p{}
.delivery p strong{}

.about{
    
}
.about h2{font-size: 2em;
    font-weight: normal;
    margin: 0 0 15px;
    line-height: 1;}
.about p{}
@media screen and (min-width: 992px) { .div{}
    .delivery{max-width: 650px;}
}
/************************************************************/
.reviews_section{padding: 45px 0 60px;}
.reviews_section h2{
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 15px;
    line-height: 1;
}
.reviews_section .slick__slider{
    margin: 0 24px;
}
.reviews_section .slick-list{
    margin: 0 21px;
}
.reviews_section .item{}
.reviews_section .review{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.reviews_section .review .rev_text{}
.reviews_section .review .rev_name{}
.reviews_section .review .rev_order{}
.reviews_section .review .rev_text p{
    font-family: Helvetica, Verdana, Roboto, sans-serif;
    font-family: 'Bad Script', cursive;
    font-size: 1.3em;
}
.reviews_section .review .rev_name p{
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.reviews_section .review .rev_order p{
    margin: 0;
    font-size: 0.9em;
    color: #737373;
}

                                
                                
.slick-prev, .slick-next{
    width: 42px;
    height: 42px;
    margin: -21px 0 0 0;
}
.slick-prev{}
.slick-next{}
.slick-prev:before, .slick-next:before{    font-size: 42px;
    color: #0b826d;}
.slick-prev:before{}
.slick-next:before {

}
@media screen and (min-width: 992px) { .div{}
    .reviews_section .review .rev_text p{
    font-size: 2.3em;
}
}

/************************************************************/

.contacts{}
.contacts h2{
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 30px;
    line-height: 1;
}
.contacts .phone-line{}
.contacts .item{
    text-align: center;
    margin: 0 0 15px;
}
.contacts .item h4{
    font-weight: normal;
    font-size: 1.5em;
    margin: 0;
}
.contacts .item p{}

/************************************************************/
.gallery{}
.gallery .item{padding: 0.2rem; border: 1px solid #000;}
.gallery .item a{}  
.gallery .item .photo{}
.gallery .item img{}  
.gallery .item-square{}
.gallery .item-square a{position: relative;    overflow: hidden;    display: block;}  
.gallery .item-square a:before{content: ""; float: left; padding-top: 100%;}
.gallery .item-square .photo{}
.gallery .item-square img{    max-height: 100%;    position: absolute;    margin: auto;    left: 0;    top: 0;    bottom: 0;    right: 0;}
/************************************************************/

.hamburger{margin: 0px auto 0;max-width: 960px;}
.hamburger .item{overflow: hidden;padding: 15px 0 15px;border-bottom: 1px solid #d0d0d0;}
.hamburger .item .title{cursor: pointer;}
.hamburger .item.active .title{}
.hamburger .item .title .item-status{float: right;width: 20px;height: 20px;line-height: 20px;text-align: center;-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;margin: -3px 0 0 0;position: relative;margin: 0 0 0 7px;}
.hamburger .item.active .title .item-status{}
.hamburger .item .title .item-status:before{content: "+";line-height: 17px;color: #ff40c9;font-size: 2em;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;position: absolute;left: 0;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
.hamburger .item.active .title .item-status:before{content: "+";-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);position: absolute;left: 0;}
.hamburger .item .active.title p{}
.hamburger .item .title p{margin: 0;line-height: 1.8;}
.hamburger .item .title p strong{   color: #293445;text-align: center;line-height: 1;}
.hamburger .item .text{overflow: hidden;height: 0;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.hamburger .item.active .text{    height: auto;}
.hamburger .item .text-wrapper{padding-left: 0px;}
.hamburger .item.active .text-wrapper{}
.hamburger .item .text-wrapper p{margin: 0;padding: 15px 0;}
/******/
/*------------------------------------- page elements  End  -------------------*/

@media only screen and (max-width: 767px ) {.div{}  /* Small devices smartphone, 0 to 767px) */
}
@media only screen and (max-width: 567px ) {.div{}  /* Small devices smartphone-vertical, 0 to 567px) */
}
/*--------------------------------------------------------------------------------- site      -------------------*/
@media only screen and (min-width: 320px ) {.div{}  /* Small devices smartphone iphone5, 320px and up) */
    body{font-size: 14px;}
    h1{font-size: 2.8em;}
    .fixed-top-line{height: 44px;position: fixed;top: 0;}
    .fixed-top-line .main-menu-holder{float: right;}
    .fixed-top-line .logo{}
    .fixed-top-line .logo img{height: 31px;}
    .header{padding-top: 44px;padding-bottom: 7px;}
}

@media screen and (min-width: 375px) { .div{}/* Small devices smartphone iphone6(7,8,9,10)), 375px and up) */
}

@media screen and (min-width: 414px) { .div{}/* Small devices smartphone iphone6+(7+,8+,9+,10+)), 414px and up) */
}

@media (min-width: 568px) and (max-width: 736px ) {.div{}  /* Small devices smartphone, 320px and up) */
}

@media screen and (min-width: 568px) { .div{}/* Small devices smartphone, 568px and up) */
    body{font-size: 15px;}
    h1{font-size: 2.2em;}
}

@media screen and (min-width: 667px) { .div{}/* Small devices smartphone iphone6, 667px and up) */
}

@media (min-width: 768px) and (max-width: 1024px ) {.div{}   /* style for tablets */   
}
@media screen and (min-width: 768px) { .div{}/* Small devices (tablets, 768px and up) */
    
}

@media (min-width: 992px) and (max-width: 1024px ) {.div{}  
}

@media only screen and (min-width: 992px ) {.div{}   /* Medium devices (desktops, 992px and up) */
    body{font-size: 16px;}
    h1{font-size: 3em;}
    .fixed-top-line{height: auto; overflow: hidden; position: static;top: -100px;}
    .fixed-top-line.fixed{position: fixed; top: 0;}
    .fixed-top-line .main-menu-holder{float: none;}
    .header{padding-top: 0px;}
    .logo {    padding: 0px 0 3px;}
    .phone-line {padding: 9px 0 0px;}
   
}

@media only screen and (min-width: 1100px ) {.div{}   /* Standart desktops (desktops, 1100px and down) */
}

@media only screen and (min-width: 1201px ) {.div{}   /* large desktops (desktops, 1200px and down) */
}









/* Large desktops and laptops */
@media (min-width: 1200px) {.div{}  
   
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {.div{}    
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {.div{} 
}


